include README.md
include LICENSE
include requirements.txt
recursive-include docs *.md
recursive-include pyupbit *.py
global-exclude __pycache__
global-exclude *.py[cd]
global-exclude .git*
global-exclude .DS_Store
